.navbar{
    margin-bottom: 0;
    border-radius: 0;
    background-color: #333;
    color: #FFF;
    padding: 1% 0;
    font-size: 1.2em;
    border: 0;
}

.navbar-brand{
    float: left;
    min-height: 55px;
    padding: 0 12px 5px;
}

.navbar-inverse .navbar-nav .active a, .navbar-inverse .navbar-nav .active a:focus, .navbar-inverse .navbar-nav .active a:hover {
    color: #FFF;
    background-color: #333;
}

.navbar-inverse .navbar-nav li a:hover{
    color: #D5D5D5;
}

.item{
    max-height: 700px;
}

.logo{
    margin-top: -10px;
    width: 160px;
    height: 68px;
}  

.fab{
    padding: 20px;
    font-size: 30px;
    color: #FFF;
}

.hours{
    list-style-type: none;
    text-align: left;
}

footer{
    width: 100%;
    background-color: #333;
    padding: 3%;
    color: #FFF;
}

body{
    
}

@media (max-width: 600px){
    .carousel-caption h1{
        font-size: 100%;
    }
}

input, select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.btn {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn:hover {
    background-color: #45a049;
}
.alert {
    padding: 15px;
    background-color: #f44336;
    color: white;
}

.closebtn {
    color: white;
    font-weight: bold;
    float: right;
    font-size: 40px;
    line-height: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}

.logzz{
    padding-top: 50px; 
    padding-bottom: 50px;
    background-color: #ffa31a;
    color: #FFF;
}

.reg{
    padding-top: 50px; 
    padding-bottom: 50px;
    background-color: #ffa31a;
}

.padd{
    padding-top: 50px; 
    padding-bottom: 50px;
}


#services {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#services td, #services th {
    border: 1px solid #ddd;
    padding: 8px;
}

#services tr:nth-child(even){background-color: #f2f2f2;}

#services tr:hover {background-color: #ddd;}

#services th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

.secondNav{
    border-radius: 15px;
    background-color: #ffa31a;
    color: #FFF;
    margin-bottom: 0;
    padding: 1px 0;
    font-size: 1.2em;
    border: 0;
}

.secondNav .active a, .secondNav .active a:focus, .secondNav .active a:hover {
    color: #FFF;
    background-color: #ffa31a;
}

.nsecondNav li a:hover{
    color: #FFF;
}

/* Large devices */
@media (min-width: 1200px){

}
/* Medium devices */
@media (min-width: 992px){

}
/* Small devices */
@media (min-width: 768px){
}
/* Extra small devices */
@media (max-width: 767px){

}