body {margin:0;}
 a{
    color: #FFF;
 }
.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
    background: #ddd;
    color: black;
}

.main {
    padding: 45px;
    margin-top: 60px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
}
input, select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.btn {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn:hover {
    background-color: #45a049;
}
.alert {
    padding: 15px;
    background-color: #f44336;
    color: white;
}

.closebtn {
    color: white;
    font-weight: bold;
    float: right;
    font-size: 40px;
    line-height: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}
.menufloat
{
    float: right;
}

.hours {
    list-style-type: none;
    text-align: left;
    padding-left: 15%;
}

#services {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#services td, #services th {
    border: 1px solid #ddd;
    padding: 8px;
}

#services tr:nth-child(even){background-color: #f2f2f2;}

#services tr:hover {background-color: #ddd;}

#services th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}
.icon{
    font-size: 40px;
}
/* smartphones, iPhone, portrait 480x320 phones */
@media (min-width:100px) { 
    .icon {
        font-size: 40px;
    }

    h5{
        font-size: 12px;
    }
    h4 {
        font-size: 17px;
    }
 }
/* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
@media (min-width:481px) { 
    .icon {
        font-size: 70px;
    }
    h5{
        font-size: 15px;
    }
    h4 {
        font-size: 20px;
    }
 }
/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
@media (min-width:768px) { 
    
 }
/* tablet, landscape iPad, lo-res laptops ands desktops */
@media (min-width:961px) { 
 }
/* big landscape tablets, laptops, and desktops */
@media (min-width:1025px) { 

 }
/* hi-res laptops and desktops */
@media (min-width:1281px) { 
    
 }