{% extends 'base.html.twig' %}
{% block title %}HOME PAGE{% endblock %}
{% block body %}
<div class="main">
    test
    {% if app.user and app.user.isActive == 0 %}
        TO VISIT OTHER PAGES YOU MUST AUTHENTICATE YOUR EMAIL. IF YOU WANT US TO RESEND EMAIL, <a href="{{ path('Resend') }}">{{ 'CLICK HERE' }}</a>
    {% endif %}
</div>
{% endblock %}
