{% extends 'base.html.twig' %}
{% block title %}Hello!{% endblock %}

{% block body %}
    <div class="main">
        You do not have any car registered.
        Click the button bellow to add one.

        <button type="submit" class="btn">Add new car</button>
        <a href="{{ path('add_car') }}"> {{ 'Add a new car' }}</a>

    </div>
{% endblock %}
